@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = Model.Title;
}
<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate,"{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m=>m.GenreId, new SelectList(Model.Genres, "Id","Name"),"Select Genre" , new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label for="NumberInStock">Number in Stock</label>
        <input class="form-control" data-val="true" data-val-number="The field Number in Stock must be a number." data-val-range="The field Number in Stock must be between 1 and 20." data-val-range-max="20" data-val-range-min="1" id="NumberInStock" name="NumberInStock" type="text" value="">
    </div>

    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}